.btn-discover {
	background-color: #e7b2a5;
	padding: 10px 30px;
	box-shadow: 4px 4px 10px rgba(0,0,0);
	border-radius: 50%;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-family: 'Raleway', sans-serif; 
	margin: 20px;
	display: flex;
	justify-content: center;

}

.btn-discover:hover {
	box-shadow: 6px 6px 10px rgba(0,0,0,0,4);
}